<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户信息表</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {{include './layout/css.html'}}
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
      <div class="wrapper">
        {{include './layout/head.html'}}
        <!-- 主要内容开始 -->
        <div class="content-wrapper">
		    <!-- Content Header (Page header) -->
		    <section class="content-header">
		      <h1>
		        	数据表管理
		        <small>仅由管理员操作</small>
		      </h1>
		      <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> </a></li>
		        <li class="active">Here</li>
		      </ol>
		    </section>
		
		   	<!-- 主要内容开始 -->
		    <section class="content">
          <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">用户表</h3>
                      <div class="pull-right">
                          <button class="btn btn-sm bg-green" id="add-row">
                            <i class="fa fa-plus"></i> 添加
                          </button>
                        
                          <!--<div class="btn-group">
                            <button type="button" class="btn btn-sm bg-green">批量编辑</button>
                            <button type="button" 
                              class="btn btn-sm bg-green dropdown-toggle" 
                              data-toggle="dropdown" 
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">批量导入</a></li>
                              <li><a href="#">批量删除</a></li>
                            </ul>
                          </div>-->
                      </div>
                    
                    </div>
                    <!-- start box-header -->
                    <div class="box-body">
                      <table id="userInfo" class="table table-bordered table-hover">
                        <thead>
                          
                        </thead>
                        <tbody>
                        
                        </tbody>
                        
                      </table>
                    </div>
                    <!-- end box-body -->
                  </div>
                  <!-- end box -->
                </div>
                <!-- end col -->
              </div>
						
		    </section>
		  </div>
        <div class="control-sidebar-bg"></div>
      </div>
      {{include './layout/jslib.html'}}
      <script>
       $(function(){
          $("#userInfo").dataGrid({
            'serverSide':true,
            'ajax':{
              url:'api/user',
              type: 'POST',
            },
            'columns':[
              {'data':'_id','name':'id','title':'ID', 'className': 'cell-id'},
              {'data':'nickname','title':'昵称'},
              {'data':'city','title':'城市'},
              {'data':'birthday','title':'生日', className:'cell-date'},
              {'data':'avatar','title':'头像', 'className': 'cell-img'},
              {'data':'qualification','title':'学历'},
              {'data':'sex','title':'性别','className':'cell-tag','tag_list':['male','female', '未知']},
              {'data':'username','title':'email'},
              {'data':'signup_time','title':'注册时间', className: 'cell-date-time'}
            ],
            saveAjax:{
              'url':'api/user/save',
              'type': 'post',
              'error':function(err){
                //dosomething
                alert(err.message);
              }
            },
            deleteAjax:{
              'url':'api/user/delete',
              'type': 'post',
              'error':function(err){
                alert(err.message);
              }
            }
        });
			});
      </script>
  </body>
</html>
