<section class="content-header">
    <!--<ol class="breadcrumb">-->
        <ul class="style1">小组成员：
        <li>陈明霞</li>
            <li>林伟钦</li>
            <li>蒋伟杰</li>
            <li>吕智垒</li>
            <li>林文发</li>
        </ul>
        <ul class="style2">表功能：
            <li>用户管理的查询，新增，修改，删除</li>
            <li>角色管理的查询，新增，修改，删除</li>
            <li>权限管理的查询，新增，修改，删除</li>
            <li>签到状态字典的查询，新增，修改，删除</li>
            <li>用户类别字典的查询，新增，修改，删除</li>
            <li>用户权限字典的查询，新增，修改，删除</li>
            <li>院校管理的查询，新增，修改，删除</li>
            <li>课程管理的查询，新增，修改，删除</li>
        </ul>

    <!--</ol>-->
</section>
