page-product-list {
  .showDiv{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
  }
  .imageDiv{
    margin-top: 10px;
    margin-left: 3px;
    float: left;
  }
  .dataDiv{
    width: 100%;
    height:30px;
    margin-left: 3px;
  }


}
