<!-- Main Header -->
		  <header class="main-header">
		
		    <!-- Logo -->
		    <a href="/admin/user" class="logo">
		      <span class="logo-mini"><b>Form</b></span>
		      <span class="logo-lg"><b>Mobile</b>Form</span>
		    </a>
		
		    <!-- Header Navbar -->
		    <nav class="navbar navbar-static-top" role="navigation">
		      <!-- Sidebar toggle button-->
		      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		        <span class="sr-only">Toggle navigation</span>
		      </a>
		      <!-- Navbar Right Menu -->
		      <div class="navbar-custom-menu">
		        <ul class="nav navbar-nav">
		        
		        	<!-- 信箱栏目 -->
		          <li class="dropdown messages-menu">
		            <!-- Menu toggle button -->
		          
		          <!-- 用户栏目开始 -->
		          <li class="dropdown user user-menu">
		            <!-- Menu Toggle Button -->
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		              <!-- The user image in the navbar-->
		              <img src="img/user2-160x160.jpg" class="user-image" alt="User Image">
		              <!-- hidden-xs hides the username on small devices so only the image appears. -->
		              <span class="hidden-xs">{{admin.username}}</span>
		            </a>
		            <ul class="dropdown-menu">
		              <!-- The user image in the menu -->
		              <li class="user-header">
		                <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
		
		                <p>
		                  	{{admin.username}}
		                  <small>于 {{admin.signup_time | dateFormat}}注册</small>
		                </p>
		              </li>
		              <!-- Menu Body -->
		              <!--<li class="user-body">
		                <div class="row">
		                  <div class="col-xs-4 text-center">
		                    <a href="#">Followers</a>
		                  </div>
		                  <div class="col-xs-4 text-center">
		                    <a href="#">Sales</a>
		                  </div>
		                  <div class="col-xs-4 text-center">
		                    <a href="#">Friends</a>
		                  </div>
		                </div>
		              </li>-->
		              <!-- Menu Footer-->
		              <li class="user-footer">
		                <div class="pull-right">
		                  <a href="/admin/logout" class="btn btn-default btn-flat">退出登录</a>
		                </div>
		              </li>
		            </ul>
		          </li>
		         
		        </ul>
		      </div>
		    </nav>
		  </header>
		  <!-- 头部结束 -->
		  
		  <!-- 左侧栏目开始 -->
		  <aside class="main-sidebar">
		
		    <!-- sidebar: style can be found in sidebar.less -->
		    <section class="sidebar">
		
		      <!-- Sidebar user panel (optional) -->
		      <div class="user-panel">
		        <div class="pull-left image">
		          <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
		        </div>
		        <div class="pull-left info">
		          <p>{{admin.username}}</p>
		          <!-- Status -->
		          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		        </div>
		      </div>
		
		      <!-- 搜索框开始 -->
		      <!--<form action="#" method="get" class="sidebar-form">
		        <div class="input-group">
		          <input type="text" name="q" class="form-control" placeholder="搜索...">
		              <span class="input-group-btn">
		                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
		                </button>
		              </span>
		        </div>
		      </form>-->
		      <!-- 搜索框结束 -->
		
			<!-- 主要侧边栏目开始 -->
		      <!-- Sidebar Menu -->
		      <ul class="sidebar-menu">
		        <li class="header"></li>
		        <!-- <li class="treeview">
		          <a href="#"><i class="fa fa-th"></i> <span>平台信息管理</span><i class="fa fa-angle-left pull-right"></i></a>
		          <ul class="treeview-menu">
		            <li><a href="#">轮播图设置</a></li>
		            <li><a href="#">标签设置</a></li>
		            <li><a href="#">勋章设置</a></li>
		          </ul>
		        </li> -->
		        <!-- <li><a href="#"><i class="fa fa-wechat"></i> <span>微信信息设置</span></a></li> -->
		        <li><a href="/admin/user"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
		        <!-- <li><a href="#"><i class="fa fa-tasks"></i> <span>平台任务管理</span></a></li> -->
		        <li><a href="/admin/manager"><i class="fa fa-balance-scale"></i> <span>管理员</span></a></li>
		        <!-- <li><a href="#"><i class="fa fa-certificate"></i> <span>任务证据管理</span></a></li> -->
		        <!-- <li><a href="#"><i class="fa fa-youtube-play"></i> <span>豁免视频管理</span></a></li> -->
		        <!-- <li><a href="#"><i class="fa fa-bookmark"></i> <span>推荐任务管理</span></a></li> -->
		        <!-- <li><a href="#"><i class="fa fa-star"></i> <span>豁免任务管理</span></a></li> -->
		        <!-- <li class="header">高级权限</li>
		        <li class="treeview">
		          <a href="#"><i class="fa fa-table"></i> <span>数据表管理</span> <i class="fa fa-angle-left pull-right"></i></a>
		          <ul class="treeview-menu">
		            <li><a href="#">用户表</a></li>
		            <li><a href="#">任务表</a></li>
		          </ul>
		        </li>
		        <li><a href="#"><i class="fa fa-cog"></i> <span>管理员设置</span></a></li> -->
		      </ul>
		      <!-- 主要侧边栏目结束 -->
		    </section>
		    <!-- /.sidebar -->
		  </aside>