	<!-- end wrapper -->
		<script type="text/javascript" src="js/plugins/jQuery/jQuery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js" ></script><br />
		<!-- 日期选择插件 -->
		<script type="text/javascript" src="js/plugins/datepicker/js/bootstrap-datepicker.min.js" ></script>
		<script type="text/javascript" src="js/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.min.js" ></script>
		<!-- 数据表格使用插件开始 -->
		<!-- DataTables -->
		<script src="js/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="js/plugins/datatables/dataTables.bootstrap.min.js"></script>
		<!-- SlimScroll -->
		<script src="js/plugins/slimScroll/jquery.slimscroll.min.js"></script>
		<!-- FastClick -->
		<script src="js/plugins/fastclick/fastclick.js"></script>
		<!-- 数据表格使用插件结束 -->
		<!-- 视频播放插件 -->
		<!--<script type="text/javascript" src="js/plugins/video/video.min.js" ></script>-->
		<!-- 视频汉化 -->
		<!--<script type="text/javascript" src="js/plugins/video/lang/zh-CN.js" ></script>-->
		
		<!-- 上传插件 -->
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/vendor/jquery.ui.widget.js" ></script>
		<!--<script type="text/javascript" src="js/plugins/jQueryFileUpload/blueimp-gallery/jquery.blueimp-gallery.js" ></script>-->
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/load-image/load-image.all.min.js" ></script>		
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/canvas-to-blob/canvas-to-blob.min.js" ></script>
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.iframe-transport.js" ></script>
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.fileupload.js" ></script>
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.fileupload-process.js" ></script>
		<!--<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.fileupload-ui.js" ></script>-->
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.fileupload-image.js" ></script>
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.fileupload-audio.js" ></script>
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.fileupload-video.js" ></script>
		<script type="text/javascript" src="js/plugins/jQueryFileUpload/js/jquery.fileupload-validate.js" ></script>
		<script type="text/javascript" src="js/plugins/kindeditor-4.1.10/kindeditor-min.js" ></script>
		<script type="text/javascript" src="js/plugins/kindeditor-4.1.10/lang/zh_CN.js" ></script>
		<script type="text/javascript" src="AdminLTE2/js/app.min.js" ></script>
    <script type="text/javascript" src="js/datatable.js" ></script>